{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/front/css/style.css') }}" type="text/css" />
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="collapsable-bar" aria-expanded="false">
                    <span class="sr-only">Toggle</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    TEST                    
                </a>
            </div>
            
            <div class="collapse navbar-collapse" id="collapsable-bar">
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">{% block contenu %}{% endblock %}</div>
    
{% endblock %}